<div class="col-md-8">
      <div class="title">
        <h2>List of students</h2>
      </div>
      <div class="student-line" *ngFor="let student of students">
        <div class="row">
          <div class="col-sm-2 ">
            <img [src]="student.image" class="student-image" alt="">
          </div>
          <div class="col-sm-5 student-name">
            <span >{{student.name | titlecase}} {{' ' + student.surname | titlecase}}</span>
          </div>
          <div class="col-sm-5 technologie">
            <span *ngFor="let technologie of student.technologies">{{technologie}}</span>
          </div>
        </div>
      </div>
      <div class="student-line">
        <div class="row">
          <div class="col-sm-2 ">
            <img src="../../../assets/img/02.png" class="student-image" alt="">
          </div>
          <div class="col-sm-5 student-name">
            <span >Wajdi Makhlouf</span>
          </div>
          <div class="col-sm-5 technologie">
            <span>Spring</span>
          </div>
        </div>
      </div>
      <div class="student-line">
        <div class="row">
          <div class="col-sm-2 ">
            <img src="../../../assets/img/03.png" class="student-image" alt="">
          </div>
          <div class="col-sm-5 student-name">
            <span >Walid Hmissi</span>
          </div>
          <div class="col-sm-5 technologie">
            <span>JAVA JEE</span>
            <span>Angular</span>
            <span>Symfoni</span>

          </div>
        </div>
      </div>
      <div style="text-align: right;">
        <hr>
        <button type="button" class="main-btn" name="button">Add Student</button>
      </div>
</div>
<div class="col-md-4">
  <app-add-student></app-add-student>
</div>
